{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="question-list">
    <h1>Подробнее</h1>
    {{ question.question_category }}
    <p>Автор: {{ question.user }}</p>
    <h2>{{ question.title }}</h2>
    <p>{{ question.question_text }}</p>
    <p>Создано: {{ question.date_created }}</p>
    {% if user.is_authenticated %}
      <button class="btn btn-link">
        <a href="{% url 'answer_create' question.id %}">Ответить</a>
      </button>
    {% endif %}
</div>

<h2>Ответы</h2>
<ul>
  {% for answer in question.answer_set.all %}
    {% if answer.permission %}
      <section>
        {{ answer.user }}
        {{ answer.date_created }}
        <li>{{ answer.answer_text }}</li>
      </section>
    {% endif %}
  {% empty %}
    <li>Ответов еще нету.</li>
  {% endfor %}
</ul>
{% endblock %}
